bindings/java/src/main/xsd/STIX-Common_v0.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    VERSION:					0.2
    DESCRIPTION:		Structured Threat Information eXpression (STIX) - Common - Schematic implementation for the common types of a structured cyber threat expression language architecture.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cyboxCommon="http://cybox.mitre.org/Common_v1" xmlns:stix="http://stix.mitre.org" xmlns:stixCommon="http://stix.mitre.org/Common" xmlns:marking="http://data-marking.mitre.org" xmlns:ciq="urn:oasis:names:tc:ciq:xpil:3" targetNamespace="http://stix.mitre.org/Common" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.2" xml:lang="English">
	<xs:import namespace="http://data-marking.mitre.org" schemaLocation="Data_Marking_v0.5.xsd"/>
	<xs:import namespace="http://cybox.mitre.org/Common_v1" schemaLocation="http://cybox.mitre.org/XMLSchema/cybox_common_types_v1.0.xsd"/>
	<xs:import namespace="urn:oasis:names:tc:ciq:xpil:3" schemaLocation="oasis-ciq/xPIL.xsd"/>
	<xs:complexType name="InformationSourceType">
		<xs:annotation>
			<xs:documentation>The InformationSourceType details the source of a given data entry.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Identity" type="stixCommon:IdentityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Identity field is optional and specifies the identity of the information source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Contributors" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Contributors element is optional and enables description of the individual contributors involved in this cyber observation source.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Contributor" type="stixCommon:IdentityType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>This field contains information describing the identity, resources and timing of involvement for a single contributor.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Time" type="cyboxCommon:TimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Time element is optional and enables description of various time-related attributes for this cyber observation source instance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tools" type="cyboxCommon:ToolsInformationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Tools element is optional and enables description of the tools utilized for this cyber observation source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="References" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The References field is optional and enables specification of references to information source material for this cyber observation source.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Reference" type="xs:anyURI" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The Reference field is optional and enables specification of a reference to an information source material for this cyber observation source.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!---->
	<xs:complexType name="ConfidenceType">
		<xs:annotation>
			<xs:documentation>The ConfidenceType specifies a level of Confidence held in some assertion.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Description" type="cyboxCommon:StructuredTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Description field provides a description of the confidence value and how it was derived.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConfidenceAssertionChain" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The ConfidenceAssertionChain field specifies a set of related confidence levels in this assertion along with who made them, when they were made and how they were made.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ConfidenceAssertion" type="stixCommon:ConfidenceType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The ConfidenceAssertion field specifies a related confidence level in this assertion along with who made it, when it was made and how it was made.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="value" type="xs:string">
			<xs:annotation>
				<xs:documentation>Specifies the level of Confidence held in this direct assertion.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="source" type="xs:string">
			<xs:annotation>
				<xs:documentation>Specifies the source of this Confidence assertion.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="timestamp" type="xs:dateTime">
			<xs:annotation>
				<xs:documentation>Specifies the time of this Confidence assertion.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="interpretation" type="xs:string">
			<xs:annotation>
				<xs:documentation>Specifies how to interpret the Value attribute for this Confidence assertion.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="interpretationRef" type="xs:anyURI">
			<xs:annotation>
				<xs:documentation>Specifies an external reference to an authoritative source describing the interpretation model for this Confidence assertion.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!---->
	<xs:complexType name="IntentType">
		<xs:annotation>
			<xs:documentation>IntentType characterizes the suspected intent for a given behavior or action.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SuspectedIntent" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The SuspectedIntent field specifies the suspected intent for a given behavior or action.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntentConfidence" type="stixCommon:ConfidenceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The IntentConfidence field asserts the confidence held in the accuracy of the suspected Intent.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!---->
	<xs:complexType name="ActivityType" abstract="true">
		<xs:sequence>
			<xs:element name="DateTime">
				<xs:annotation>
					<xs:documentation>The DateTime field specifies the date and time at which the activity occured.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="cyboxCommon:StructuredTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Description field provides a description of the activityr.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!---->
	<xs:complexType name="KillChainType">
		<xs:annotation>
			<xs:documentation>The KillChainType characterizes a specific Kill Chain definition for reference within specific TTP entries, Indicators and elsewhere.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KillChainPhase" type="stixCommon:KillChainPhaseType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This field specifies the name of an individual phase within this kill chain definition.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:QName">
			<xs:annotation>
				<xs:documentation>A globally unique identifier for this kill chain definition.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" type="xs:string">
			<xs:annotation>
				<xs:documentation>A descriptive name for this kill chain definition.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="definer">
			<xs:annotation>
				<xs:documentation>The organization or individual responsible for this kill chain definition.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="reference" type="xs:anyURI">
			<xs:annotation>
				<xs:documentation>A resource reference for this kill chain definition.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="numberOfPhases">
			<xs:annotation>
				<xs:documentation>The number of phases in this kill chain definition.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="KillChainPhaseType">
		<xs:annotation>
			<xs:documentation>The KillChainPhaseType characterizes an individual phase within a kill chain definition.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="phaseID" type="xs:QName">
			<xs:annotation>
				<xs:documentation>This field specifies the ID for the relevant kill chain phase.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" type="xs:string">
			<xs:annotation>
				<xs:documentation>This field specifies the descriptive name of the relevant kill chain phase.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ordinality" type="xs:int">
			<xs:annotation>
				<xs:documentation>This field specifies the ordinality (e.g. 1, 2 or 3) of this phase within this kill chain definition.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!---->
	<xs:complexType name="TLPHandlingGuidanceType">
		<xs:annotation>
			<xs:documentation>The TLPHandlingGuidanceType is an extension of the abstract MarkingStructureType that enables the specification of Traffic Light Protocol guidance markings.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="marking:MarkingStructureType">
				<xs:attribute name="sensitivity" type="stixCommon:TLPSensitivityEnumType"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="TLPSensitivityEnumType">
		<xs:annotation>
			<xs:documentation>A listing of values describing the level of data sensitivity. All values originate 
from the Traffic Light Protocol (TLP); see US-CERT documentation for authoritative definitions (https://www.us-cert.gov/contact/tlp.html).
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="RED"/>
			<xs:enumeration value="AMBER"/>
			<xs:enumeration value="GREEN"/>
			<xs:enumeration value="WHITE"/>
		</xs:restriction>
	</xs:simpleType>
	<!---->
	<xs:complexType name="STIX-CIQ-IdentityType">
		<xs:complexContent>
			<xs:restriction base="ciq:PartyType">
				<xs:sequence>
					<xs:element ref="ciq:FreeTextLines" minOccurs="0"/>
					<xs:element ref="ciq:PartyName" minOccurs="0"/>
					<xs:element ref="ciq:Addresses" minOccurs="0"/>
					<xs:element ref="ciq:Accounts" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A container to define the accounts details of the party such as utility account, financil accounts</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="ciq:ContactNumbers" minOccurs="0"/>
					<xs:element ref="ciq:Documents" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A container for identification document and cards of the party that are unique to the party. e.g. license, identification card, credit card, etc</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="ciq:ElectronicAddressIdentifiers" minOccurs="0"/>
					<xs:element ref="ciq:Events" minOccurs="0"/>
					<xs:element ref="ciq:Identifiers" minOccurs="0"/>
					<xs:element ref="ciq:Memberships" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A container for memberships of party with other organisations (e.g. industry groups) or social networks (clubs, association, etc)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="ciq:Relationships" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Relationships with other parties (persons or organisations, and the nature of relationship). Examples:
- For person: Contacts, blood relatives, friends, referees, customers, etc
- for Organisation: Subsidiary, Parent company, Branches, Divisions, Partners, etc</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="ciq:Revenues" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Container for income / revenue information of the party (salary/organisation revenue)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="ciq:Stocks" minOccurs="0"/>
					<xs:element ref="ciq:Vehicles" minOccurs="0"/>
					<xs:element ref="ciq:OrganisationInfo" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Container for other organisation specific details that are not covered in this schema that are common to a party</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="ciq:PersonInfo" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Container for other person specific details that are not covered in this schema elements that are common to a party</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="ciq:BirthInfo" minOccurs="0"/>
					<xs:element ref="ciq:CountriesOfResidence" minOccurs="0"/>
					<xs:element ref="ciq:Favourites" minOccurs="0"/>
					<xs:element ref="ciq:Habits" minOccurs="0"/>
					<xs:element ref="ciq:Hobbies" minOccurs="0"/>
					<xs:element ref="ciq:Languages" minOccurs="0"/>
					<xs:element ref="ciq:Nationalities" minOccurs="0"/>
					<xs:element ref="ciq:Occupations" minOccurs="0"/>
					<xs:element ref="ciq:PhysicalInfo" minOccurs="0"/>
					<xs:element ref="ciq:Preferences" minOccurs="0"/>
					<xs:element ref="ciq:Qualifications" minOccurs="0"/>
					<xs:element ref="ciq:Visas" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="PartyType" type="ciq:PartyTypeList" form="qualified">
					<xs:annotation>
						<xs:documentation>Type of Party. e.g. Person or an organisation. An organisation could be university, college, club, association, company, etc</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IdentityType">
		<xs:complexContent>
			<xs:extension base="stixCommon:STIX-CIQ-IdentityType">
				<xs:sequence>
					<xs:element name="Role" type="xs:string" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The Role field specifies a relevant role played by this entity.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RelatedIdentities" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The RelatedIdentities field identifies other entity Identities related to this entity Identity.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RelatedIdentity" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>The RelatedIdentity field identifies a single other entity Identity related to this entity Identity.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="stixCommon:IdentityType">
												<xs:attribute name="relationshipType" type="xs:string">
													<xs:annotation>
														<xs:documentation>Specifies the nature of the relationship between the enclosing entity and the other.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="id" type="xs:QName">
					<xs:annotation>
						<xs:documentation>Specifies a unique ID for this Identity.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="idref" type="xs:QName">
					<xs:annotation>
						<xs:documentation>Specifies a reference to a unique ID defined elsewhere.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
