bindings/java/src/main/xsd/STIX-TTP_v0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    VERSION:					0.6
    DESCRIPTION:		Structured Threat Information eXpression (STIX) - TTP - Schematic implementation for the TTP construct within the STIX structured cyber threat expression 		language architecture.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cybox="http://cybox.mitre.org/cybox_v1" xmlns:cyboxCommon="http://cybox.mitre.org/Common_v1" xmlns:SystemObj="http://cybox.mitre.org/objects#SystemObject" xmlns:UserAccountObj="http://cybox.mitre.org/objects#UserAccountObject" xmlns:capec="http://capec.mitre.org/capec_v1" xmlns:maecBundle="http://maec.mitre.org/XMLSchema/maec-bundle-3" xmlns:maecPackage="http://maec.mitre.org/XMLSchema/maec-package-1" xmlns:stixCommon="http://stix.mitre.org/Common" xmlns:TTP="http://stix.mitre.org/TTP" xmlns:marking="http://data-marking.mitre.org" xmlns:ExpTgt="http://stix.mitre.org/ExploitTarget" targetNamespace="http://stix.mitre.org/TTP" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.6" xml:lang="English">
	<xs:import namespace="http://cybox.mitre.org/cybox_v1" schemaLocation="http://cybox.mitre.org/XMLSchema/cybox_core_v1.0.xsd"/>
	<xs:import namespace="http://cybox.mitre.org/Common_v1" schemaLocation="http://cybox.mitre.org/XMLSchema/cybox_common_types_v1.0.xsd"/>
	<xs:import namespace="http://cybox.mitre.org/objects#SystemObject" schemaLocation="http://cybox.mitre.org/XMLSchema/objects/System/System_Object_1.3.xsd"/>
	<xs:import namespace="http://cybox.mitre.org/objects#UserAccountObject" schemaLocation="http://cybox.mitre.org/XMLSchema/objects/User_Account/User_Account_Object_1.2.xsd"/>
	<xs:import namespace="http://capec.mitre.org/capec_v1" schemaLocation="ap_schema_v2.5.xsd"/>
	<xs:import namespace="http://maec.mitre.org/XMLSchema/maec-package-1" schemaLocation="http://maec.mitre.org/language/version3.0/maec-package-schema.xsd"/>
	<xs:import namespace="http://stix.mitre.org/ExploitTarget" schemaLocation="STIX-ExploitTarget_v0.3.1.xsd"/>
	<xs:import namespace="http://stix.mitre.org/Common" schemaLocation="STIX-Common_v0.2.xsd"/>
	<xs:import namespace="http://data-marking.mitre.org" schemaLocation="Data_Marking_v0.5.xsd"/>
	<xs:element name="TTP" type="TTP:TTPType">
		<xs:annotation>
			<xs:documentation>The TTP field characterizes specific details of observed or potential attacker Tactics, Techniques and Procedures.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!---->
	<xs:complexType name="TTPType">
		<xs:annotation>
			<xs:documentation>TTPType characterizes an individual adversary TTP.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Behavior-AttackPatterns" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Behavior-AttackPatterns field specifies one or more Attack Patterns for this TTP item.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AttackPattern" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The AttackPattern field specifies a single Attack Pattern for this TTP item.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="StructuredDescription" minOccurs="0">
										<xs:annotation>
											<xs:documentation>The StructuredDescription field provides a structured description of an individual Attack Pattern.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="capec:Attack_PatternType">
													<xs:attribute name="capecRef" type="xs:string">
														<xs:annotation>
															<xs:documentation>This field specifies a reference to a particular relevant entry identifier within the Common Attack Pattern Enumeration and Classification (CAPEC)</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="ProseDescription" type="cyboxCommon:StructuredTextType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>The ProseDescription field provides an unstructured description of an individual Attack Pattern.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Behavior-Malware" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Behavior-Malware field specifies one or more instances of Malware for this TTP item.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MalwareInstance" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The Malware field specifies a single instance of Malware for this TTP item.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="MalwareType" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>The MalwareType field provides a characterization of what type of malware this MalwareInstance is. It is intended to be a selection from a defined list (controlled vocabulary) of malware types (as specified in the malwareTypeRef attribute) rather than a freeform text entry but does allow other text to be entered if the appropriate malware type is not avaliable in the relevant controlled vocabulary.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:attribute name="malwareTypeRef" type="xs:anyURI">
														<xs:annotation>
															<xs:documentation>This field specifies a reference to an malware type value reference. The value is a QName or URL that should reference a term in a controlled vocabulary which is understood by both the producing and consuming parties.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="MalwareName" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>The MalwareName field specifies a name associated with this MalwareInstance.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:attribute name="nameSource" type="xs:string">
														<xs:annotation>
															<xs:documentation>This field specifies the authoring source of this malware name.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="StructuredDescription" type="maecPackage:PackageType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>The StructuredDescription field provides a structured description of an individual Malware instance.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ProseDescription" type="cyboxCommon:StructuredTextType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>The ProseDescription field provides an unstructured description of an individual Malware instance.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Behavior-Exploits" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Behavior-Exploits field specifies one or more Exploits for this TTP item.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Exploit" type="cyboxCommon:StructuredTextType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The Exploit field specifies a single Exploit for this TTP item. NOTE: This field still needs fleshed out.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Resource-Tools" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Resource-Tools field specifies one or more Tools leveraged by this TTP item.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Tool" type="cyboxCommon:ToolInformationType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The Tools field specifies a single Tool leveraged by this TTP item.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Resource-Infrastructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Resource-Infrastructure field characterizes specific classes or instances of infrastructure observed to have been utilized for cyber attack.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Description" type="cyboxCommon:StructuredTextType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The Description field generally describes specific classes or instances of infrastructure utilized for cyber attack.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ObservableCharacterization" type="cybox:ObservablesType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The ObservableCharacterization field provides structured characterization of the cyber observables detailing specific classes or instances of infrastructure utilized for cyber attack.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="VictimTargeting" type="stixCommon:IdentityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The VictimTargeting field characterizes the people, organizations, information or access being targeted. NOTE: the current structure provides expressivity for characterizing people and organizations. Structures for characterizing targeted information and access need to be added.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExploitTargets" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The ExploitTargets field characterizes potential vulnerability, weakness or configuration targets for exploitation by this TTP.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ExploitTarget" type="ExpTgt:ExploitTargetType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The ExploitTarget field characterizes a potential vulnerability, weakness or configuration target for exploitation by this TTP.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Intent" type="stixCommon:IntentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Intent field characterizes the suspected intent for a given behavior or action.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RelatedTTPs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The RelatedTTPs field specifies other TTPs asserted to be related to this cyber threat TTP.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RelatedTTP" type="TTP:RelatedTTPType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The RelatedTTP field specifies a single other TTP asserted to be related to this cyber threat TTP.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="KillChainPhases" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The KillChainPhases field specifies one or more Kill Chain phases associated with this TTP item.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="KillChainPhase" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The KillChainPhase field specifies a single Kill Chain phase associated with this TTP item.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="stixCommon:KillChainPhaseType">
										<xs:attribute name="killChainID" type="xs:QName">
											<xs:annotation>
												<xs:documentation>This field specifies the ID for the relevant defined kill chain.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="killChainName" type="xs:string">
											<xs:annotation>
												<xs:documentation>This field specifies the descriptive name of the relevant kill chain.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InformationSource" type="stixCommon:InformationSourceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The InformationSource field details the source of this entry.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KillChains" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The KillChains field characterizes specific Kill Chain definitions for reference within specific TTP entries, Indicators and elsewhere.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="KillChain" type="stixCommon:KillChainType">
							<xs:annotation>
								<xs:documentation>The KillChains field characterizes a specific Kill Chain definition for reference within specific TTP entries, Indicators and elsewhere.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:QName">
			<xs:annotation>
				<xs:documentation>Specifies a globally unique identifier for this TTP item. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="idref" type="xs:QName">
			<xs:annotation>
				<xs:documentation>Specifies a globally unique identifier of a TTP item specified elsewhere.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="version" type="xs:string">
			<xs:annotation>
				<xs:documentation>Specifies the relevant STIX-TTP schema version for this content.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!---->
	<xs:complexType name="RelatedTTPType">
		<xs:annotation>
			<xs:documentation>The RelatedTTPType specifies a single TTP asserted to berelated to this cyber threat TTP.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TTP:TTPType">
				<xs:sequence>
					<xs:element name="RelatedTTPConfidence" type="stixCommon:ConfidenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The RelatedTTPConfidence field specifies a level of confidence in the assertion that this TTP is actually irelated to the specific TTP.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
